@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  background: white; }

.container {
  max-width: 960px;
  margin: 0 auto; }

#btn btn-circle {
  z-index: 1;
  font-size: 22px;
  text-align: center;
  margin-top: 80px; }
  #btn btn-circle div {
    display: inline-block; }

#portfolio {
  text-align: center; }
  #portfolio .pp {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    top: 6%;
    font-size: 60px;
    font-style: bold;
    font-family: 'Poppins', sans-serif; }

#contact .pp {
  padding-top: 0;
  padding-bottom: 20px;
  margin: 0;
  top: 6%;
  font-size: 60px;
  font-style: bold;
  font-family: 'Poppins', sans-serif; }

#about p {
  font-size: 24px; }
#about .pp {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  top: 6%;
  font-size: 60px;
  font-style: bold;
  font-family: 'Poppins', sans-serif; }

.section {
  height: 1000px;
  padding-top: 30px;
  width: 100%;
  text-align: center;
  margin: 0 auto; }

/* Media queries */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1; }

.sidebar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: -250px;
  background: #bdf4e7;
  width: 250px;
  height: 100%;
  transition: .3s; }
  .sidebar ul {
    margin: 0;
    padding: 40px 0; }
    .sidebar ul li {
      list-style: none; }
      .sidebar ul li a {
        padding: 10px 50px;
        color: #000;
        display: block;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Poppins', sans-serif; }

.active {
  left: 0; }

.sidebarBtn {
  position: absolute;
  top: 20px;
  right: -80px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  background: #bdf4e7;
  border: none;
  outline: none; }
  .sidebarBtn span {
    display: block;
    width: 35px;
    height: 3px;
    background: #262626;
    position: absolute;
    top: 24px;
    transition: .3s; }

.sidebarBtn span:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #262626;
  transition: .3s;
  color: #bdf4e7; }

.sidebarBtn span:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #262626;
  transition: .3s; }

.sidebarBtn.toggle span {
  background: transparent; }

.sidebarBtn.toggle span:before {
  top: 0;
  transform: rotate(45deg); }

.sidebarBtn.toggle span:after {
  top: 0;
  transform: rotate(-45deg); }

.social-wrapper {
  align-items: center;
  justify-content: center; }
  .social-wrapper ul {
    list-style: none;
    text-decoration: none; }
  .social-wrapper li {
    display: inline; }
  .social-wrapper a {
    display: inline-block;
    text-decoration: none;
    padding: 7px; }
  .social-wrapper i {
    color: #ccc; }

.social-wrapper i:hover {
  margin-top: -10px;
  transform: translate(0, -8); }

#linkedin:hover {
  color: #0077B5;
  text-shadow: 0px 16px 10px rgba(0, 160, 220, 0.3); }

#github:hover {
  color: #000;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3); }

#email:hover {
  color: #e6b0f2;
  text-shadow: 0px 16px 10px rgba(230, 176, 242, 0.3); }

#attach:hover {
  color: #f2e29b;
  text-shadow: 0px 16px 10px rgba(242, 226, 155, 0.3); }

#insta:hover {
  color: #ff0000;
  text-shadow: 0px 16px 10px rgba(255, 0, 0, 0.3); }

.projects {
  background-color: #fff;
  padding: 0px 6% 0 6%;
  text-align: center; }

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.project {
  max-height: 540px;
  flex-grow: 1;
  max-width: 280px;
  min-width: 280px;
  margin: 2%;
  transition: all 0.3s ease; }
  .project h4 {
    font-weight: 600;
    font-size: 20px; }
  .project img {
    width: 350px;
    transition: all 0.3s;
    opacity: 0.8; }

.project:hover img {
  opacity: 1; }
.project:hover .project-details {
  transform: translateY(-30px); }

.img-container {
  height: 290px;
  overflow: hidden;
  width: 280px; }

.project-details {
  color: white;
  background-color: #ccc;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  height: 10px;
  transition: all 0.3s ease;
  transform: translateY(-20px);
  width: 280px; }

#home {
  font-size: 40px; }
  #home #myDetails {
    top: 6%;
    position: relative;
    line-height: 1.6; }
  #home p::first-line {
    font-size: 95px;
    font-style: bold;
    font-family: 'Poppins', sans-serif; }

.fa-angle-double-down {
  vertical-align: 8%; }

/* SCROLL DOWN BUTTON */
.btn-circle {
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 100%;
  z-index: 1; }

.btn-circle:hover {
  background: rgba(255, 255, 255, 0.1); }

#back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  color: #ccc;
  transition: 0.5s;
  cursor: pointer;
  font-size: 45px; }

#back-to-top:hover {
  color: #bdf4e7; }

#portfolio {
  margin-bottom: 800px; }

.project1 {
  display: inline-block;
  background: transparent;
  position: relative;
  width: 100%; }
  .project1 img {
    height: 45%;
    width: 45%;
    border: 2px solid grey;
    padding: 20px;
    border-radius: 10px; }
  .project1 .hvrbox-text {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: grey;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    color: #fff;
    font-size: 20px;
    border-radius: 5%;
    line-height: 400px; }

.project1:hover .hvrbox-text {
  display: block; }

.project-details1 {
  padding-left: 30px;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  color: black;
  text-align: left; }
  .project-details1 p {
    text-align: left; }
    .project-details1 p i {
      font-size: 25px; }
  .project-details1 ul {
    text-align: left;
    list-style-type: circle;
    color: red; }
  .project-details1 li {
    color: black; }
  .project-details1 a {
    text-align: left;
    color: grey; }
  .project-details1 a:hover {
    color: #BD10E0; }

.carousel {
  justify-content: flex-start;
  overflow: hidden;
  padding: 40px 0;
  position: relative;
  width: 100%; }
  .carousel .navClass {
    font-size: 40px;
    color: #000; }

.carousel > .container1 {
  display: flex;
  flex-direction: row;
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 600ms; }

.carousel nav {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1; }

.carousel > nav a {
  color: #000;
  font-size: 14px;
  opacity: .2;
  text-decoration: none; }

.carousel > nav a:hover {
  opacity: .5; }

.carousel > nav a.current {
  opacity: 1;
  color: #bdf4e7; }

.carousel .slide {
  flex-shrink: 0;
  line-height: 1.4;
  text-align: center;
  width: 100%; }
  .carousel .slide h1 {
    font-size: 30px; }

#linkedin:hover {
  color: #0077B5;
  text-shadow: 0px 16px 10px rgba(0, 160, 220, 0.3); }

#github:hover {
  color: #000;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3); }

#email:hover {
  color: #e6b0f2;
  text-shadow: 0px 16px 10px rgba(230, 176, 242, 0.3); }

#attach:hover {
  color: #f2e29b;
  text-shadow: 0px 16px 10px rgba(242, 226, 155, 0.3); }

#insta:hover {
  color: #ff0000;
  text-shadow: 0px 16px 10px rgba(255, 0, 0, 0.3); }

/* Color Variables */
/* Social Icon Mixin */
/* Social Icons */
.social-icons {
  display: flex; }

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease; }
  .social-icon:hover {
    color: #000; }
    .social-icon:hover .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -150%); }
  .social-icon:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset; }
  .social-icon i {
    position: relative;
    top: 1px; }

/* Tooltips */
.tooltip {
  font-family: 'Poppins', sans-serif;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.2rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1; }
  .tooltip:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%); }

#myskills {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 5px; }
  #myskills img {
    height: 40px;
    width: 40px;
    flex-shrink: 0; }

@media (max-width: 1000px) {
  display: block;
  #home {
    font-size: 30px; }
    #home p::first-line {
      font-size: 70px; }

  .project1 {
    padding-left: 20px;
    padding-right: 30px; }
    .project1 img {
      display: block;
      width: 50vh;
      margin-right: 10px; }

  .project-details1 {
    display: block;
    width: 100vh; }
    .project-details1 p {
      width: 45vh; }
    .project-details1 ul {
      width: 50vh; }
      .project-details1 ul a {
        width: 40vh; }
    .project-details1 li {
      width: 39vh; }

  #myskills {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center; }

  .carousel {
    padding: 0; }

  #portfolio .pp, #about .pp, #contact .pp {
    font-size: 40px; }

  #about {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left; }
    #about p {
      font-size: 20px; }
    #about .pp {
      font-size: 40px;
      text-align: center; }

  .carousel {
    height: 730px; } }

/*# sourceMappingURL=master.css.map */
