@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin:0 auto;
  padding:0;
  font-size: 16px;
  background: white;
}
.container {
   max-width: 960px;
   margin: 0 auto;
}

 #btn btn-circle {
  z-index: 1;
  font-size: 22px;
  text-align: center;
  margin-top: 80px;
    div {
      display: inline-block;
    }
  }
#portfolio {
  text-align: center;
  .pp {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    top: 6%;
    font-size: 60px;
    font-style: bold;
    font-family: 'Poppins', sans-serif;
  }
}
#contact {
  .pp {
    padding-top: 0;
    padding-bottom: 20px;;
    margin: 0;
    top: 6%;
    font-size: 60px;
    font-style: bold;
    font-family: 'Poppins', sans-serif;

  }
}
#about {
  p {
    font-size: 24px;
  }
  .pp {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    top: 6%;
    font-size: 60px;
    font-style: bold;
    font-family: 'Poppins', sans-serif;
  }
}

.section {
  height:1000px;
  padding-top: 30px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

/* Media queries */

//  @media screen and (max-width: 600px) {
//   #title {
//     top: 52px;
//     left: 24px;
//     font-size: 1.75em;
//   }
//
//   #menu-icon-shape {
//     right: 9px;
//   }
//
//   #nav-content ul li a {
//     padding: 6% 0;
//   }
//
//
// }


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index:-1;
}


.sidebar {
  z-index: 1;
  position: fixed;
  top:0;
  left:-250px;
  // background: #262626;
  background: #bdf4e7;
  width: 250px;
  height: 100%;
  transition: .3s;
  ul {
    margin:0;
    padding: 40px 0;
    li {
      list-style: none;
      a{
        padding: 10px 50px;
        color:#000;
        display: block;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        // border-bottom: 1px solid rgba(0,0,0,.2);
      }
    }
  }
}
.active {
  left:0;
}
.sidebarBtn {
  position: absolute;
  top:20px;
  right:-80px;
  width: 50px;
  height:50px;
  box-sizing: border-box;
  cursor: pointer;
  // background: #f5f5f5;
  background: #bdf4e7;
  border: none;
  outline:none;
  span {
    display: block;
    width: 35px;
    height: 3px;
    background: #262626;
    position: absolute;
    top:24px;
    transition: .3s;
  }
}

.sidebarBtn span:before {
  content:'';
  position: absolute;
  top:-10px;
  left:0;
  width: 100%;
  height: 3px;
  background: #262626;
  transition: .3s;
  color: #bdf4e7;
}
.sidebarBtn span:after {
  content:'';
  position: absolute;
  top:10px;
  left:0;
  width: 100%;
  height: 3px;
  background: #262626;
  transition: .3s;
}
.sidebarBtn.toggle span {
  background: transparent;
}
.sidebarBtn.toggle span:before {
  top:0;
  transform:rotate(45deg);
}
.sidebarBtn.toggle span:after {
  top:0;
  transform:rotate(-45deg);
}
.social-wrapper {
    align-items: center;
    justify-content: center;
    ul {
      list-style: none;
      text-decoration: none;
    }
    li {
      display: inline;
    }
    a {
      display: inline-block;
      text-decoration: none;
      padding: 7px;
    }
    i {
      color: #ccc;
    }
}
.social-wrapper i:hover {
  margin-top: -10px;
  transform: translate(0, -8);
}

#linkedin:hover {
  color: #0077B5;
  text-shadow: 0px 16px 10px rgba(0, 160, 220, 0.3);
}

#github:hover {
  color:  #000;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
}

#email:hover {
  color: #e6b0f2;
  text-shadow: 0px 16px 10px rgba(230, 176, 242, 0.3);

  }
#attach:hover {
  color: #f2e29b;
  text-shadow: 0px 16px 10px rgba(242, 226, 155, 0.3);

  }
#insta:hover {
  color: #ff0000;
  text-shadow: 0px 16px 10px rgba(255, 0, 0, 0.3);

  }

  .projects {
  background-color: #fff;
  padding: 0px 6% 0 6%;
  text-align: center;

  }
  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .project {
    max-height: 540px;
    flex-grow: 1;
    max-width: 280px;
    min-width: 280px;
    margin: 2%;
    transition: all 0.3s ease;
    h4 {
      font-weight: 600;
      font-size: 20px  ;
    }

    img {
      width: 350px;
      transition: all 0.3s;
      opacity: 0.8;
    }
  }

.project:hover {
  img {
    opacity: 1;
  }
  .project-details{
    transform: translateY(-30px);
  }
}

.img-container {
  height: 290px;
  overflow: hidden;
  width: 280px;
}
.project-details
{
  color: white;
  background-color: #ccc;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  height: 10px;
  transition: all 0.3s ease;
  transform: translateY(-20px);
  width: 280px;
}

#home {
  font-size: 40px;
  #myDetails {
  top: 6%;
  position: relative;
  line-height: 1.6;
  }
  p::first-line {
    font-size: 95px;
    font-style: bold;
    font-family: 'Poppins', sans-serif;
  }
}
.fa-angle-double-down {
  vertical-align: 8%;
}
/* SCROLL DOWN BUTTON */
.btn-circle {
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 100%;
  z-index: 1;
}

.btn-circle:hover {
  background: rgba(255,255,255,0.1);
}

#back-to-top {
  position: fixed;
  bottom: 0; right: 0;
  margin: 20px;
  color: #ccc;
  transition: 0.5s;
  cursor: pointer;
  font-size: 45px;
}

#back-to-top:hover { color:#bdf4e7; }

#portfolio {
  margin-bottom: 800px;
}
.project1 {
  display: inline-block;
  background: transparent;
  position: relative;
  width: 100%;
  img {
    height: 45%;
    width: 45%;
    border:2px solid grey;
    padding: 20px;
    border-radius: 10px;
  }
 .hvrbox-text {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  color: #fff;
  font-size: 20px;
  border-radius: 5%;
  line-height: 400px;
 }
}
.project1:hover {
 .hvrbox-text {
   display: block;
 }
}

.project-details1 {
  padding-left: 30px;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  color: black;
  text-align: left;
  p {
    text-align: left;
    i{
      font-size: 25px;
    }
  }
  ul {
    text-align:left;
    list-style-type: circle;
    color:red;
  }
  li {
    color: black;
  }
  a {
    text-align: left;
    color: grey;
  }
  a:hover {
    color:#BD10E0;
  }
}

.carousel {
	justify-content: flex-start;
	overflow: hidden;
  padding: 40px 0;
	position: relative;
	width: 100%;
  .navClass {
    font-size: 40px;
    color:#000;
  }
}

.carousel > .container1 {
	display: flex;
	flex-direction: row;
	height: 100%;
	transform: translate3d(0, 0, 0);
	transition: transform 600ms;
}

.carousel {
  nav {
    bottom:0;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
}

.carousel > nav a {
	color: #000;
	font-size: 14px;
	opacity: .2;
	text-decoration: none;
}

.carousel > nav a:hover {
	opacity: .5;
}

.carousel > nav a.current {
	opacity: 1;
  color:#bdf4e7;
}

.carousel .slide {
	flex-shrink: 0;
	line-height: 1.4;
	text-align: center;
	width: 100%;
  h1 {
    font-size: 30px;
  }
}

// new code

#linkedin:hover {
  color: #0077B5;
  text-shadow: 0px 16px 10px rgba(0, 160, 220, 0.3);
}

#github:hover {
  color:  #000;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
}

#email:hover {
  color: #e6b0f2;
  text-shadow: 0px 16px 10px rgba(230, 176, 242, 0.3);

  }
#attach:hover {
  color: #f2e29b;
  text-shadow: 0px 16px 10px rgba(242, 226, 155, 0.3);

  }
#insta:hover {
  color: #ff0000;
  text-shadow: 0px 16px 10px rgba(255, 0, 0, 0.3);

  }


/* Color Variables */
$color-codepen: #000;
$color-github: #000;
$color-twitter: #2b97f1;
$color-dribbble: #ef5a92;
$color-instagram: #ff0000;
$color-linkedin: #006599;
$color-facebook: #3b5a9b;
$color-email: #e6b0f2;
$color-attach: #f2e29b;

/* Social Icon Mixin */
@mixin social-icon($color) {
  background: $color;
  background: linear-gradient(tint($color, 5%), shade($color, 5%));
  border-bottom: 1px solid shade($color, 20%);
  color: tint($color, 50%);

  &:hover {
    color: tint($color, 80%);
    text-shadow: 0px 1px 0px shade($color, 20%);
  }

  .tooltip {
    background: $color;
    background: linear-gradient(tint($color, 15%), $color);
    color: tint($color, 80%);

    &:after {
      border-top-color: $color;
    }
  }
}

/* Social Icons */
.social-icons {
  display: flex;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // width: 80px;
  // height: 80px;
  // margin: 0 0.5rem;
  // border-radius: 50%;
  cursor: pointer;
  // font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  // font-size: 2.5rem;
  text-decoration: none;
  // text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  transition: all 0.15s ease;

  &:hover {
    color: #000;

    .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -150%);
    }
  }

  &:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }

  // &--linkedin { @include social-icon($color-linkedin); }
  // &--twitter { @include social-icon($color-twitter); }
  // &--codepen { @include social-icon($color-codepen); }
  // &--facebook { @include social-icon($color-facebook); }
  // &--instagram { @include social-icon($color-instagram); }
  // &--dribbble { @include social-icon($color-dribbble); }
  // &--github { @include social-icon($color-github); }
  // &--email { @include social-icon($color-dribbble); }
  // &--attach { @include social-icon($color-github); }

  i {
    position: relative;
    top: 1px;
  }
}

/* Tooltips */
.tooltip {
  font-family: 'Poppins', sans-serif;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.2rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;

  &:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
}

#myskills {
  display: flex;
  // top:-40%;
  width: 95%;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  // min-height: 10vh;
  // clear: both;
  margin-bottom:5px;
  // margin-top: 300px;
  img {
    height: 40px;
    width: 40px;
     flex-shrink: 0;

  }
}

@media (max-width:1000px) {

  #home{
    font-size: 30px;
    p::first-line {
      font-size: 70px;}
  }
  #portfolio, #about, #contact {
    .pp {
      font-size: 40px;
    }
  }
  #about {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    p {
      font-size: 20px;
    }
    .pp {
      font-size: 40px;
      text-align: center;
    }
  }
  .carousel .navClass {
    font-size: 20px;
  }

  .container1 {
    touch-action: auto;
  -ms-touch-action: auto;


  }
}
@media (max-width:450px) {
  display: block;
  #home{
    font-size: 30px;
    p::first-line {
      font-size: 70px;}
  }

  .project1 {
    padding-left: 20px;
    padding-right: 30px;
  img {
    display: block;
    width: 50vh;
    margin-right: 10px;
    }
  }
  .project-details1 {
    // font-size: 20px;
    display: block;
    // padding-left: 0;
    width: 100vh;
    // overflow-wrap: normal;
    p {
      width:45vh;
      // margin: 0 auto;
      // text-align: center;
    }
    ul {
      width: 50vh;

      a {
        width: 40vh;
      }
    }
    li {
      width: 39vh;
    }

  }

#myskills {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}
.carousel {
  padding:  0;
}

#portfolio, #about, #contact {
  .pp {
    font-size: 40px;
  }
}
#about {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  p {
    font-size: 20px;
  }
  .pp {
    font-size: 40px;
    text-align: center;
  }
}
.carousel {
  height:730px;
  .slide {
    pointer-events:none;
  }

}
.container1 {
  touch-action: auto;
-ms-touch-action: auto;


}

.carousel .navClass {
  font-size: 20px;
}
}
// new code
